<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-blog-post">
    <div class="panel-heading">
      <p><%= @blog_post.title %></p>
      <%= image_tag @blog_post.blog_pic.url %>
    </div>
  </div>
  <div class="panel-body">
    <p>by: <strong><%= @blog_post.user.username %></strong>
      <% if @blog_post.user.avatar.nil? %>
        <%= image_tag @blog_post.user.avatar.url, size: 40 %>
      <% else %>
        <%= image_tag 'user.svg', size: 40 %>
      <% end %>
    </p>
    <i><p><%= time_ago_in_words(@blog_post.created_at) %> ago</p></i>
    <p><%= @blog_post.blog %></p>
  </div>
  <div class="panel-footer">
    <% if signed_in? && (current_user.role == "admin" || current_user.role == "manager") %>
      <%= link_to "Edit", edit_blog_post_path, class: "btn btn-warning" %>
    <% end %>
    <%= link_to "All Blog Posts", blog_posts_path, class: "btn btn-default" %>
  </div>
</div>

<div class="panel panel-default">
  <% if current_user %>
    <div class="panel-heading">
      <% if current_user.avatar.nil? %>
        <%= image_tag current_user.avatar.url, size: 40 %>
      <% else %>
        <%= image_tag 'user.svg', size: 40 %>
      <% end %>
    </div>
    <div class="panel-body">
      <%= render 'comments/form'%>
    </div>
  <% else %>
    <div class="panel-body">
      Want to make a comment? <%= link_to "Sign In!", new_user_session_path %>
    </div>
  <% end %>
</div>

<%= render 'comments/comment'%>

<%= render 'layouts/contact' %>
