<% if @jobs.where('DATE(datetime) = ?', Date.parse(date.to_s)).length > 3 %>
  <button type="button" class="btn btn-primary btn-xs align-bottom" data-toggle="modal" data-target="#day-tasks">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  </button>
  <div class="modal fade" id="day-tasks" tabindex="-1" role="dialog" aria-labelledby="day-tasks-Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="day-tasks-ModalLabel"><%= date.strftime('%m/%d') %></h4>
        </div>
        <div class="modal-body">
          <% date = @calender_days[count] %>
          <% @jobs.where('DATE(datetime) = ?', Date.parse(date.to_s)).each do |job| %>
            <p>
              <u>Name:</u> <%= job.name %><br />
              <u>Date:</u> <%= job.datetime %><br />
              <u>Created</u> By: <%= User.find(job.created_by).username %><br />
              <u>Client:</u> <%= User.find(job.client_id).username %><br />
              <u>Notes:</u> <%= job.notes %><br />
              <u>Workers:</u> <%= User.find(job.workers).username %><br />
            </p>
            <%= link_to 'Edit', edit_job_path(job), class: "btn btn-warning" %>
            <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <hr />
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary align-bottom" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <button type="button" class="btn btn-primary btn-xs disabled">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  </button>
<% end %>
