<button type="button" class="align-text-bottom btn btn-primary btn-xs" data-toggle="modal" data-target="#day-tasks-<%= count %>">
  <%= date.strftime('%d') %>
</button>
<div class="modal fade" id="day-tasks-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="day-tasks-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="day-tasks-ModalLabel"><%= date.strftime('%m/%d') %></h4>
      </div>
      <div class="modal-body">
        <% client_set.each do |client| %>
          <!-- Not ordered -->
          <h5><%= link_to User.find(client).username, show_user_path(id: User.find(client).id) %></h5>
          <% @jobs.where("client_id = ? AND DATE(datetime) = ?", User.find(client).id, Date.parse(date.to_s)).order(:datetime).each do |job| %>
            <u>Name:</u> <%= job.name %><br />
            <u>Time:</u> <%= job.datetime.strftime('%I:%M%P') %><br />
            <u>Created</u> By: <%= User.find(job.created_by).username %><br />
            <u>Notes:</u> <%= job.notes %><br />
            <br />
            <!--  Add Workers -->
          <% end %>
          <hr />
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="align-text-bottom btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
