<!--  This is just a bunch of code fragments! -->

<div class="day">
  <u><%= day + 1 %></u><br />
  <% @jobs.each do |job| %>
    <% if day == job.datetime.day %>
      <%= link_to job.name, job_path(job.id) %><br />
    <% end %>
  <% end %>
  <%= link_to 'Create Job', new_job_path(datetime: day + 1), class: "btn btn-primary btn-xs" %>
</div>

<% (Time.days_in_month(Time.now.month)).times do |day| %>

<% @jobs.where(:datetime == date.day).each do |job| %>
  <%= job.name %>
<% end %>


<% @jobs.each do |job| %>
  <% if job.datetime.day == date.day %>
    <%= link_to job.name, job_path(job.id) %><br />
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Datetime</th>
      <th>Created by</th>
      <th>Client</th>
      <th>Notes</th>
      <th>Workers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.datetime %></td>
        <td><%= User.find(job.created_by).username %></td>
        <td><%= User.find(job.client_id).username %></td>
        <td><%= job.notes %></td>
        <td><%= User.find(job.workers).username %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% date = @calender_days[count] %>
<u><%= date.strftime('%d') %></u><br />
<% @jobs.limit(3).where('DATE(datetime) = ?', Date.parse(date.to_s)).each do |job| %>
  <%= job.name %><br />
<% end %>
<%= render partial: 'day', locals: {jobs: @jobs, count: count, date: date} %>

<% @jobs.where('DATE(datetime) = ?', Date.parse(date.to_s)).each do |job| %>
  <h5><%= User.find(job.client_id).username %></h5>
  <h6><%= get_address(User.find(job.client_id)) %></h6>
  <% @jobs.where(client_id: job.client_id).each do |task| %>
    <p>
      <u>Name:</u> <%= task.name %><br />
      <u>Date:</u> <%= task.datetime %><br />
      <u>Created</u> By: <%= User.find(task.created_by).username %><br />
      <u>Notes:</u> <%= task.notes %><br />
      <u>Workers:</u> <%= User.find(task.workers).username %><br />
    </p>
    <%= link_to 'Edit', edit_job_path(job), class: "btn btn-warning" %>
    <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <hr />
  <% end %>
<% end %>
