<div class="white-background">
  <p id="notice"><%= notice %></p>

  <h2><%= Time.now.strftime('%B') %></h2>

  <div class="calender">
    <table class="table">
      <thead>
        <tr>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>
        <% 5.times do %>
          <tr>
            <% 7.times do %>
              <td>
                <% date = @calender_days[count] %>
                <u><%= date.strftime('%d') %></u><br />
                <% @jobs.limit(3).where('DATE(datetime) = ?', Date.parse(date.to_s)).each do |job| %>
                  <%= job.name %><br />
                <% end %>
                <%= render partial: 'day', locals: {jobs: @jobs, count: count, date: date} %>
                <% count += 1 %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br />

  <%= link_to 'New Job', new_job_path, class: "btn btn-default" %>
</div>
