<div class="white-background">
  <p id="notice"><%= notice %></p>

  <div class="calender">
    <%= @month %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Datetime</th>
        <th>Created by</th>
        <th>Client</th>
        <th>Notes</th>
        <th>Workers</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.name %></td>
          <td><%= job.datetime %></td>
          <td><%= User.find(job.created_by).username %></td>
          <td><%= User.find(job.client_id).username %></td>
          <td><%= job.notes %></td>
          <td><%= User.find(job.workers).username %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Job', new_job_path %>
</div>
