<div class="white-background">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @job.name %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= @job.datetime.strftime('%Y/%m/%d - %I:%M%P') %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= User.find(@job.created_by).username %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= User.find(@job.client_id).username %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @job.notes %>
  </p>

  <!-- Add Workers -->

  <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning" %>
  <%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
