<div class="white-background">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Job Name:</strong>
    <%= @job.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @job.datetime.strftime('%Y/%m/%d - %I:%M%P') %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= User.find(@job.created_by).username %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= link_to User.find(@job.client_id).name, show_user_path(id: @job.client_id) %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @job.notes %>
  </p>

  <p>
    <strong>Workers:</strong><br />
    <% @job.workers.each do |worker| %>
      <%= User.find(worker).name %><br />
    <% end %>
  </p>

  <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning" %>
  <%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
