<div class="white-background">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @job.name %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= @job.datetime %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= User.find(@job.created_by).username %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= User.find(@job.client_id).username %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @job.notes %>
  </p>

  <p>
    <strong>Worker(s):</strong>
    <%= User.find(@job.workers).username %>
  </p>

  <%= link_to 'Edit', edit_job_path(@job) %> |
  <%= link_to 'Back', jobs_path %>
</div>
