<div class="white-background">
  <%= form_with(model: @user, local: true) do |form| %>

    <div class="form-group">
      <%= form.label :username %><br />
      <%= form.text_field :username, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email %><br />
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :role %><br />
      <%= form.text_field :role, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :name %><br />
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :street %><br />
      <%= form.text_field :street, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :city %><br />
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :zip %><br />
      <%= form.text_field :zip, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :state %><br />
      <%= form.text_field :state, class: "form-control" %>
    </div>

    <div class="form-group">
      <strong>Upload a Profile Pic: </strong>
      <%= form.file_field :avatar %>
    </div>

    <span class="actions">
      <%= form.submit "Edit", class: "btn btn-warning disabled" %>
    </span>

    <%= link_to 'Back', users_path, class: "btn btn-default" %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger float-right" %>

  <% end %>
</div>
