<div class="white-background">
  <table class="table">
      <thead>
        <tr>
          <th>Role</th>
          <th>Email</th>
          <th>Username</th>
          <th>Name</th>
          <th colspan="4">Address</th>
        </tr>
      </thead>
      <tbody>
        <% @users.where.not(role: "admin").each do |user| %>
          <tr>
            <td><%= user.role %></td>
            <td><%= link_to user.email, edit_user_path(id: user.id) %></td>
            <td><%= user.username %></td>
            <td><%= link_to user.name, show_user_path(id: user.id) %></td>
            <% if user.street == nil || user.city == nil || user.state == nil || user.zip == nil %>
              <td></td>
            <% else %>
              <td><%= get_address(user) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>

  <%= link_to "Create User", new_user_path, class: "btn btn-default" %>

</div>
